<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Blog Sample</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body  class="hold-transition skin-blue sidebar-mini login-page">
<div class="wrapper">
    <div class="content-wrapper">
        <div class="login-box">
            <session class="content-header">
                <h1>CREATE NEW USER</h1>
            </session>
            <session class = "content">
                    <div class="row">
                        <div class = "col-xs-2">
                            <input type="user" class="form-control" placeholder="user" id = "email">
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-xs-2">
                            <input type="password" class="form-control" placeholder="Password" id = "password">
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-xs-2">
                            <input type="textbox" class="form-control" placeholder="fullname" id = "fullname">
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col-xs-2">
                            <input type="textbox" class="form-control" placeholder="country" id = "country">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <input id="save" type="submit" class="btn btn-primary btn-block btn-flat" value = "Save"/>
                        </div>
                    </div>
            </session>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

<script src = "/js/create-user.js"></script>
</body>
</html>