<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Blog Sample</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body  class="hold-transition skin-blue sidebar-mini login-page">
<div class="wrapper">
    <div class="content-wrapper">
        <session class="content-header">
            <h1 >
                EDIT BLOG
            </h1>
        </session>
        <session class = "content">
            <div class="row">
                <div class="col-xs-1">
                    <label>author</label>
                </div>
                <div class="col-xs-2">
                    <input type="textbox" class="form-control" placeholder="author" id = "author">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <label>subject</label>
                </div>
                <div class="col-xs-2">
                    <input type="textbox" class="form-control" placeholder="subject" id = "subject">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    <label>content</label>
                </div>
                <div class="col-xs-2">
                    <input type="textbox" class="form-control" placeholder="content" id = "content">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <label>comment</label>
                </div>
                <div class="col-xs-2">
                    <input type="textbox" class="form-control" placeholder="comment" id = "comment">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    <input id="edit" type="submit" class="btn btn-primary btn-block btn-flat" value = "Edit"/>
                </div>
            </div>
        </session>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src ="/js/edit-blog.js"></script>
</body>
</html>